.reminders-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.reminders-card-container {
  margin-top: 80px;
  display: flex;
  gap: 40px;
}
.reminders-card-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b6dcfe;
  border: 2px solid black;
  width: 350px;
  height: 350px;
  border-radius: 30px;
}

.cat-name-container {
  color: black;
  margin-top: 40px;
  font-size: 40px;
}

.first-container,
.second-container,
.third-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  color: black;
  font-size: 20px;
}
